.body_background {
    overflow:hidden;
    background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
    font-family: 'Roboto', sans-serif;
}

.main_container {
    width: 100vw;
    height: 100vh;
    min-width: 100vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}